*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    min-height: 100%;
    background-image: url(imgs/1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* overflow: hidden; */
}
 /* space-top */
 .space-top{
     margin-top: 29px;
     width: 100px;
     background-attachment: fixed;
     height: 0px;
 }

 /* about content */
/* all projecs */



/* footer */
.footer{
    width: 100%;
    background: rgba(0, 0, 0, 0.041);
    padding: 10px;
}












    /* icons imgaes */
    .icons {
        /* z-index: 1; */
        justify-content: center;
        align-items: center;
        height: 50px;
        display: flex;
    }
    .icons a, img{
        width: 50px;
        cursor: pointer;
        margin: 5px;
    }
